<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/pic.ico">
    <script src="/jquery.min.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/chat.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<div class="container app">
  <div class="row app-one">
    <div class="col-xs-5 col-md-3 side">
      <div class="side-one">
        <div class="row heading">
          <div class="col-sm-2 col-xs-2 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="/avatar/avatar6.png">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 heading-name">
              <span id="name" class="heading-name-meta"></span>
            </div>
          <div class="col-sm-2 col-xs-2  heading-dot  pull-right">
            <a href="/logout" class="fa fa-sign-out fa-2x pull-right logout" aria-hidden="true"></a>
          </div>
      
        </div>

        <div class="row searchBox">
          <div class="col-sm-12 searchBox-inner">
            <div class="form-group has-feedback">
              <span id="count-ol" class="heading-name-meta">Online</span>
            </div>
          </div>
        </div>

        <div class="row sideBar">
          
        </div>
      </div>
    </div>

    <div class="col-xs-7 col-md-9 conversation">
      <div class="row heading">
        <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
          <div class="heading-avatar-icon">
            <img id="avt-fr" src="/avatar/avatar2.jpg">
          </div>
        </div>
        <div class="col-sm-8 col-xs-7 heading-name">
          <span id="name-fr" class="heading-name-meta admin">ADMIN</span>
        </div>
        <div class="col-sm-1 col-xs-1  heading-dot pull-right">
          <i id="trash" class="fa fa-trash fa-2x pull-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row message" id="conversation">
        <div class="row message-previous">
          <div class="col-sm-12 previous">
          </div>
        </div>

        <div class="row message-body">
          <div class="col-sm-12 message-main-receiver">
            <div class="receiver">
              <div class="message-text">
                Chào mừng bạn đến với chương trình chat trực tuyến,chọn người đang online để mời họ chat với bạn!
              </div>
              <span class="message-time pull-right">
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row reply">
        <div class="col-sm-11 col-xs-11 reply-main">
          <textarea id="msg-value" class="form-control" rows="1" id="comment"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send">
          <i id="send-msg" class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
        <input type="hidden" id="temporary">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-btn-no">Từ chối</button>
        <button type="button" class="btn btn-primary" id="modal-btn-si">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<script src="/bootstrap.min.js"></script>
<script src="/chat.js"></script>
</body>
</html>